.buscar-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .title-service {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-invisible {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    color: transparent;
  }
  
  .input-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .buscar-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buscar-button:hover {
    background-color: #555;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .subtitle {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .siguiente-button {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .siguiente-button:hover {
    background-color: #555;
  }
  .page-container {
    display: flex;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  