.consultar-cliente-page {
    font-family: Arial, sans-serif;
    width: 97%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  .new-button {
    padding: 12px 24px; /*ajusta el tamano del boton*/
    background-color: #2d3b48;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
   
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container label {
    margin-right: 8px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .search-container input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 16px;
    width: 400px;
  }
  
  .data-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    width: 95%; /* Reducir el ancho para que no esté pegado a los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #e6e8ea;
  }
  
  .view-button, .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 8px;
  }
  
  .modal-actions button:first-child {
    margin-right: 16px; /* Ajusta el valor según el espacio deseado */
  }

  

  input, select {
    border: 2px solid #669bbc;
  }

  .titulo-editar-cliente {
    color: #c1121f;
    text-align: center;
  }

  label {
    color: #003049;
    font-size: 18px;
  }