.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.login-container h1{
    color: #2d3a48;
    font-family: 'Uncial Antiqua';
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3b48;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center; /* Centrar contenido dentro del contenedor */
}



.logo {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
}


.form-group {
    margin-bottom: 20px;
    text-align: left; /* Alinea las etiquetas a la izquierda */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2d3b48;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #030303;
    border-radius: 4px;
    background-color: #ffffff;
    color:#030303;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #2d3b48;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #6988a3;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #2d3b48;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
p{
    color:#ee1515;
}

