.seguimiento-atencion-pag-e {
    font-family: Arial, sans-serif;
    width: 97%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  .new-button {
    padding: 12px 24px; /*ajusta el tamano del boton*/
    background-color: #2d3b48;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
   
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container label {
    margin-right: 8px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 400px;
  }
  
  .data-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    width: 95%; /* Reducir el ancho para que no esté pegado a los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .view-button, .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 8px;
  }
  
    /* FilterAtencion.css */
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 15px; /* Reducir el padding para acercar el contenido a los bordes */
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    color: #333;
  }
  
  h2 {
    text-align: left;
    margin-bottom: 10px; /* Reducir margen inferior del título */
  }
  
  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  .modal-body p strong{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:black;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px; /* Reducir el margen inferior */
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="date"] {
    width: 60%; /* Reducir el ancho del input de fecha */
    padding: 8px; /* Reducir padding para hacer el input más compacto */
    font-size: 14px; /* Ajustar tamaño de texto */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-button {
    margin-left: 10px;
    padding: 8px 16px; /* Hacer los botones más compactos */
    border: none;
    cursor: pointer;
  }
  
  .close-button {
    background-color: #f44336;
    color: white;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .custom-h4 {
    margin: 4px 0; /* Ajusta este valor según lo necesites */
  }